# This file contains the rule to disable the autosuspend on Kinect devices.
# It is required due to a quirk that Kinect has with the USB host controller on this machine;
# with autosuspend on, the device keeps resetting on its own. The fix disables the autosuspend
# only on Kinect, not affecting the rest of the system.
# To learn more, visit: https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1521245

# Main Controller
SUBSYSTEM=="usb", DRIVER=="usb", ATTR{idVendor}=="045e", ATTR{idProduct}=="02c2", TEST=="power/control", ATTR{power/control}="on"
SUBSYSTEM=="usb", DRIVER=="usb", ATTR{idVendor}=="045e", ATTR{idProduct}=="02c2", TEST=="power/autosuspend", ATTR{power/autosuspend}="-1"

# NUI Camera
SUBSYSTEM=="usb", DRIVER=="usb", ATTR{idVendor}=="045e", ATTR{idProduct}=="02ae", TEST=="power/control", ATTR{power/control}="on"
SUBSYSTEM=="usb", DRIVER=="usb", ATTR{idVendor}=="045e", ATTR{idProduct}=="02ae", TEST=="power/autosuspend", ATTR{power/autosuspend}="-1"

# NUI Audio (open-source driver)
SUBSYSTEM=="usb", DRIVER=="usb", ATTR{idVendor}=="045e", ATTR{idProduct}=="02ad", TEST=="power/control", ATTR{power/control}="on"
SUBSYSTEM=="usb", DRIVER=="usb", ATTR{idVendor}=="045e", ATTR{idProduct}=="02ad", TEST=="power/autosuspend", ATTR{power/autosuspend}="-1"

# Kinect USB Audio (kinect-audio-setup firmware)
SUBSYSTEM=="usb", DRIVER=="usb", ATTR{idVendor}=="045e", ATTR{idProduct}=="02bb", TEST=="power/control", ATTR{power/control}="on"
SUBSYSTEM=="usb", DRIVER=="usb", ATTR{idVendor}=="045e", ATTR{idProduct}=="02bb", TEST=="power/autosuspend", ATTR{power/autosuspend}="-1"

# Kinect autosuspend support
SUBSYSTEM=="usb", DRIVER=="kinect", TEST=="supports_autosuspend", ATTR{supports_autosuspend}="0"
