[Unit]
Description=Start scrub of my local btrfs drives once a month

[Timer]
OnCalendar=*-*-02 00:00:00
AccuracySec=6h
Persistent=true

[Install]
WantedBy=timers.target
