[Unit]
Description=Start defragmentation and deduplication of btrfs drives twice a month

[Timer]
OnCalendar=*-*-03,18 00:00:00
AccuracySec=6h
Persistent=true

[Install]
WantedBy=timers.target
