[Unit]
Description=Local HTTP server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/servy --host 0.0.0.0 --port 9001 --verbose .
WorkingDirectory=/var/www
User=http
Group=http

# Ensure it doesn't block regular system operation or system shutdown
RestartSec=5
TimeoutStopSec=5
Nice=15

# Ensure that the process is fully secure
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=true
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
