# This script switches the preferred VPN for the main wired connection every time it's launched, to a random one.
# The actual connection should be done by NetworkManager, setting the wired connection so that it automatically connects to a VPN on start.

[Unit]
Description=Rotates autoconnect VPN to a random one from all available ones

[Service]
Type=oneshot
ExecStart=/bin/bash -c " \
	UUID_INTERFACE=$(nmcli -t connection show | awk '{split($0,array,\":\")} { if (index(array[3], \"ethernet\") != 0) { print array[2]; } }') && \
	UUID_VPN=$(nmcli -t connection show | awk '{split($0,array,\":\")} { if (array[3]==\"vpn\") { print array[2]; } }' | shuf -n 1) && \
	nmcli connection modify uuid $UUID_INTERFACE connection.secondaries $UUID_VPN "
Restart=no
RemainAfterExit=false
TimeoutStopSec=15s

[Install]
WantedBy=multi-user.target
